<nav class="navbar navbar-default"> <!-- Navigation bar using Bootstrap styling -->
  <div class="container-fluid custom-navbar"> <!-- Full-width container with optional custom styles -->

    
    <a routerLink="/" class="logo">
      <img src="assets/images/logo.png" alt="Logo" />
    </a>

   
    <ul class="nav navbar-nav left-nav">
      <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
      <li><a routerLink="/shopping-list" routerLinkActive="active">Shopping List</a></li>
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>

    </ul>

    <a routerLink="/" class="navbar-brand center-logo">
      <span>Recipe Book</span>
    </a>

    <ul class="nav navbar-nav right-nav">
                  <li><a routerLink="/food-news" routerLinkActive="active">Food News</a></li>

            <li><a routerLink="/share-your-thoughts" routerLinkActive="active">Share Your Thoughts</a></li>

      <li><a routerLink="/cart" routerLinkActive="active">🛒 Cart <span class="badge">{{ cartCount }}</span></a></li>
    </ul>

  </div>
</nav>
