.recipe-card {
  position: relative;
  cursor: pointer;
}

.recipe-content {
  position: relative;
  padding-right: 30px;
}

.favorite-btn {
  position: absolute;
  top: 0;   
  right: 0;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
  z-index: 1000;
  transition: color 0.3s ease;
}

.favorite-btn.favorited {
  color: #f39c12;
}

.recipe-image-wrapper {
  margin-top: 10px;
  text-align: center;
}

.recipe-image {
  max-height: 100px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
